<!DOCTYPE html>
<html>
<head>
  <title>Minna Kotoba Search</title>
  <link rel="stylesheet" type="text/css" href="stylesheets/font_embed.css">
  <link rel="stylesheet" type="text/css" href="stylesheets/search.css">
</head>
<body>
  <div id="notebooks" ng-app="notebooks" ng-controller="NotebookListCtrl">
    <input type="text" id="query" ng-model="query"/>
    <select ng-model="orderList">
      <option value="chapterNo">Chapter Number</option>
      <option value="romaji">Romaji A-Z</option>
      <option value="-romaji">Romaji Z-A</option>
    </select>
    <ul id="notebook_ul">
      <li ng-repeat="vocal in vocals | filter:query">
      <!-- <li ng-repeat="vocal in vocals | filter:query | orderBy: orderList"> -->
        <p class="first">{{vocal.hiragana}}&nbsp;&nbsp;<label class="second">{{vocal.romaji}}</label></p>
        <p class="third">{{vocal.kanji}}</p>
        <p class="four">{{vocal.english}}</p>
        <p class="five myanmar3">{{vocal.myanmar}}</p>
        <div class="right top">{{vocal.chapterNo}} / {{vocal.wordNo}}</div>
      </li>
    </ul>
    <span>Number of vocabulary: {{vocals.length}}</span>
  </div>

  <!-- <script type="text/javascript" src="javascripts/jquery.min.js"></script> -->
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
  <script type="text/javascript" src="javascripts/search.js"></script>
</body>
</html>