<!DOCTYPE html>
<html>
<head>
  <title>Minna Kotoba Search</title>
  <link rel="stylesheet" type="text/css" href="stylesheets/search.css">
</head>
<body>
  <div id="notebooks" ng-app="notebooks" ng-controller="NotebookListCtrl">
    <input type="text" id="query" ng-model="query"/>
    <select ng-model="orderList">
      <option value="name">By name</option>
      <option value="-age">Newest</option>
      <option value="age">Oldest</option>
    </select>
    <ul id="notebook_ul">
      <li ng-repeat="notebook in notebooks | filter:query | orderBy: orderList">
        name: {{notebook.name}}<br/>
        procesor: {{notebook.procesor}}<br/>
        <div class="right top">{{notebook.age}}</div>
      </li>
    </ul>
    <span>Number of notebooks: {{notebooks.length}}</span>
  </div>

  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
  <script type="text/javascript" src="javascripts/search.js"></script>
</body>
</html>